:root {--z:0;--h: 8rem;--x:50%;--v:100%;}
body {margin: var(--z); padding: var(--z)}
#mContainer {
  position: absolute;
  transform: translate(var(--x), var(--x));
  left: var(--x); bottom: var(--x);
  z-index: 2; width: 2rem; height: var(--h);
  border-radius: 3px;
  border: 1px solid #000;
}

#mContainer p {
  text-align: center;
  vertical-align: middle;
  line-height: var(--h);
}

video {
  position: absolute;
  transform: translate(var(--x), var(--x));
  left: var(--x); bottom: var(--x);
  filter: blur(0.5rem); z-index: 1;
  min-width: var(--v); min-height: var(--v);
  width: auto; height: auto;
}
