@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://nxxh447.github.io/assets/css/default.css");

#borderText { padding: 3.36px }
.aContainer {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url("./img/border.svg") 10 10 10 10 stretch stretch;
}
