@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

*, body {
    font-family: "Short Stack", cursive;
    color: #3c3c3c;
    padding: 0; margin: 0
}

body { background-color: #ffe6dd }
#disclaimerStyle { text-decoration: none !important }
#borderText { padding: 3.36px }

.aContainer{
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%; top: 48%;
    height: auto; width: auto;
    min-width: 100px;
    border-style: solid;
    min-height: 50% !important;
    border-width: 10px 10px 10px 10px;
    border-image: url("./img/border.svg") 10 10 10 10 stretch stretch
}

#aboutMe,#footer,#otherInfo{
    border-style:solid;
    border-width:10px 10px 10px 10px;
    border-image:url("./img/border.svg") 10 10 10 10 stretch stretch
}

.list {
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    margin-left: 2.1rem
}

#othInfTable{
    margin-left:calc(50% - 7.5rem);
    margin-top:7px;
    margin-bottom:7px
}

#footer {
    font-size:9px;
    text-align:center
}

#icon-1 {
    position: absolute;
    transform: translate(9%, 1%);
    left: 0; bottom: 0;
    height: auto; width: auto;
    max-height: 22vh; max-width: 22vw
}

#icon-2 {
    position: absolute;
    transform: translate(0, 3%);
    right: 0; bottom: 0;
    height: auto; width: auto;
    max-height:22vh; max-width:22vw
}

#icon-3 {
    position: absolute;
    transform: translate(-20%,-40%) rotate(10deg);
    top: 0; left: 0;
    height: auto; width: auto;
    max-height: 25vh; max-width: 25vw
}

#icon-4 {
    position: absolute;
    transform: translate(100%, 13%);
    max-height: 5vh; max-width: 5vw;
    height: auto; width: auto;
    z-index: 1
}

#icon-5 {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-50deg);
    height: auto; width: auto;
    right: 0; bottom: -7%;
    max-height: 20vh; max-width: 20vw;
    z-index:-1
}
